body {
  background-color: #222;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF; /* Set the default font color to white */
}

.container {
  position: relative;
  width: 200px;
  height: 600px;
}

.deck-area, .discard-pile {
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.deck-area {
  top: 50%;
  cursor: pointer;
}

.discard-pile {
  bottom: 50%;
}

.remaining-card, .shown-card {
  width: 180px;
  height: 280px;
  background: #444;  /* Darker card background */
  margin-top: 2px;
  border-radius: 10px;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.shown-card {
  width: 180px;
  height: 280px;
  background: #444;
  margin-top: 2px;
  border-radius: 10px;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: flipAndMove 1s forwards;
}

.top-card {
  background: #666; /* Slightly lighter for contrast */
}

.card-back, .card-front {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.card-back {
  background-color: #666;
}

.card-front {
  background-color: #444;
  transform: rotateY(180deg);
  color: #FFF;
}

@keyframes flipAndMove {
  0% {
    transform: translateY(0) rotateY(0deg);
  }
  30% {
    transform: translateY(-50px) rotateY(0deg);
  }
  60% {
    transform: translateY(-50px) rotateY(180deg);
  }
  100% {
    transform: translateY(0) rotateY(180deg);
  }
}